* {
    margin-top: 0;
}

.card-button {
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    color: white;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 45px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
}

.card-button:hover {
    background-color: hsl(212, 21%, 14%);
    cursor: pointer;
}

.card-cart-svg {
    max-height: 16px;
    max-width: 16px;
    padding-right: 1em;
}

.card-category-title {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .card {
        height: 450px;
        margin-top: 10px;
        width: 600px;
        display: flex;
        background-color: red;
    }

    .card-container img {
        border-radius: 10px 10px 0 0;
        display: block;
        height: 450px;
        margin-bottom: 0px;
        width: 300px;
    }

    .card-content {
        background-color: grey;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        height: 450px;
        justify-content: center;
        width: 300px;
    }
}

.card-description {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.card-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 32px;
}

.card-reduce-price {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-top: 0.75em;
    text-decoration: line-through;
}

.card-text-container {
    max-width: 90%;
}

.card-title {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    margin-bottom: 10px;
}

.card-container-price {
    display: grid;
    width: 95%;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
}

@media (max-width: 767px) {
    .card {
        height: 610px;
        margin-top: 10px;
        width: 345px;
    }

    /*.card-button {*/
    /*    align-items: center;*/
    /*    background-color: hsl(158, 36%, 37%);*/
    /*    border-radius: 10px;*/
    /*    color: white;*/
    /*    display: flex;*/
    /*    font-family: 'Montserrat', sans-serif;*/
    /*    font-size: 14px;*/
    /*    font-weight: 700;*/
    /*    height: 45px;*/
    /*    justify-content: center;*/
    /*    margin-left: auto;*/
    /*    margin-right: auto;*/
    /*    width: 290px;*/
    /*}*/

    /*.card-button:hover {*/
    /*    background-color: hsl(212, 21%, 14%);*/
    /*    cursor: pointer;*/
    /*}*/

    /*.card-cart-svg {*/
    /*    max-height: 16px;*/
    /*    max-width: 16px;*/
    /*    padding-right: 1em;*/
    /*}*/

    /*.card-category-title {*/
    /*    color: hsl(228, 12%, 48%);*/
    /*    font-family: 'Montserrat', sans-serif;*/
    /*    font-size: 13px;*/
    /*    font-weight: 500;*/
    /*    margin-top: 20px;*/
    /*}*/

    .card-container {
        align-items: center;
        background-color: hsl(30, 38%, 92%);
        display: flex;
        flex-direction: column;
        height: 667px;
        margin: 0;
        width: 375px;
    }

    .card-container img {
        border-radius: 10px 10px 0 0;
        display: block;
        height: 240px;
        margin-bottom: 0px;
        width: 345px;
    }

    /*.card-container-price {*/
    /*    display: grid;*/
    /*    grid-template-columns: 1fr 1fr; !* Two equal columns *!*/
    /*    width: 95%;*/
    /*}*/

    .card-content {
        background-color: white;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        height: 370px;
        justify-content: center;
        width: 345px;
    }

    /*.card-description {*/
    /*    color: hsl(228, 12%, 48%);*/
    /*    font-family: 'Montserrat', sans-serif;*/
    /*    font-size: 14px;*/
    /*    font-weight: 500;*/
    /*    margin-bottom: 20px;*/
    /*}*/

    /*.card-price {*/
    /*    color: hsl(158, 36%, 37%);*/
    /*    font-family: 'Fraunces', serif;*/
    /*    font-size: 32px;*/
    /*}*/

    /*.card-reduce-price {*/
    /*    color: hsl(228, 12%, 48%);*/
    /*    font-family: 'Montserrat', sans-serif;*/
    /*    font-size: 13px;*/
    /*    font-weight: 500;*/
    /*    margin-top: 0.75em;*/
    /*    text-decoration: line-through;*/
    /*}*/

    /*.card-text-container {*/
    /*    max-width: 90%;*/
    /*}*/

    /*.card-title {*/
    /*    font-family: 'Fraunces', serif;*/
    /*    font-size: 32px;*/
    /*    margin-bottom: 10px;*/
    /*}*/

    /*.card-container-price {*/
    /*    display: grid;*/
    /*    width: 95%;*/
    /*    grid-template-columns: 1fr 1fr; !* Two equal columns *!*/
    /*}*/

}
